.amo-index__wrap {
  display: flex;
  align-items: center;
}

.amo-index__col {
  max-width: 328px;
  width: 100%;
  gap: 130px;
  display: flex;
  flex-direction: column;
}

.amo-index__title {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: #2e2e33;

  span {
    color: #846df2;
  }
}

.amo-index__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #2e2e33;
  max-width: 310px;
  width: 100%;
}

.amo-index_offset {
  padding-top: 160px;
}

.amo-index__image {
  position: relative;
}

.ami-txt-anim {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #674af1;
  font-family: "Caveat";
  position: absolute;

  &.txt-1 {
    top: 20px;
    left: 310px;
    max-width: 164px;
    width: 100%;
  }

  &.txt-2 {
    bottom: 190px;
    left: 210px;
    max-width: 134px;
    width: 100%;
  }

  &.txt-3 {
    bottom: 230px;
    right: 0;
    max-width: 129px;
    width: 100%;
  }
}

.tab-amo-wrap {
  display: flex;
  align-items: center;
}

.tab-amo-images {
  width: calc(100% - 302px);
}

.tab-amo-col {
  width: 302px;
}

.tab-amo__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #2e2e33;
  margin-bottom: 4px;
}

.tab-amo__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #2e2e33;
  display: none;
}

.tab-amo-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tab-amo-item.active {
  .tab-amo__description {
    display: block;
  }
}

.section-work__container {
  gap: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.section-work__item {
  border: 1px solid #e8e8ef;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 328px;
  background-color: #fafafa;

  .section-work__image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .section-work__image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }
}

.section-work__col {
  max-width: 310px;
  width: 100%;
  gap: 8px;
}

.section-work__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2e33;
  max-width: 305px;
  width: 100%;
  margin-bottom: 8px;
}

.section-work__description {
  line-height: 1.2;
  margin-bottom: 12px;
}

.section-work-right {
  display: flex;
  justify-content: flex-end;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.blog__width {
  &:first-child {
    width: 66.6%;
  }

  padding: 10px;
  width: 33.3%;
}

.blog__item {
  display: block;
}

.blog-image {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;

  img {
    border-radius: 16px;
  }
}

.blog__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #222b37;
}

.blog-container {
  margin: -10px;
}

.blog-art {
  position: absolute;
  right: 8px;
  bottom: 8px;
  backdrop-filter: blur(20px);
  background: rgba(23, 23, 51, 0.26);
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  line-height: 1;
}

.blog__clean {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
  padding-bottom: 71px;
}

.blog__descript {
  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  text-align: right;
  color: #757575;
  max-width: 207px;
  width: 100%;
  margin-bottom: 22px;
}