@import 'variables';

.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.4s ease;
  border-radius: 16px;

  &-navbar {
    display: flex;
    align-items: center;
    gap: 12px;

    &__link {
      padding: 14px 24px;
      color: $dark-color;
      transition: all 0.4s ease;
      border-radius: 8px;

      &:hover {
        background: rgba(231, 226, 255, 0.8);
      }
    }
  }

  &.header--active {
    backdrop-filter: blur(8px);
    box-shadow: 0 0 20px 0 rgba(132, 109, 242, 0.25);
    background: rgba(255, 255, 255, 0.98);
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
  }

  &__buttons {
    gap: 15px;
    display: flex;
  }

  &-picture {
    pointer-events: none;
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wrapper-header {
  padding: 8px 26px;
}

.header-navbar__widget {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -143px;
  padding-top: 20px;
}

.header-navbar-box {
  position: relative;

  &:hover {
    .header-navbar__widget {
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-navbar__container {
  padding: 12px;
  width: 280px;
  backdrop-filter: blur(8px);
  background: rgba(249, 249, 249, 0.95);
  border-radius: 12px;

  .header-navbar__link {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    width: 100%;

    &:hover {
      backdrop-filter: blur(17px);
      background: #f2f2f2;
    }

  }
}

.header-burger {
  display: none;
  border-radius: 16px;
  background-color: #846df2;
  position: relative;
  flex-direction: column;
  gap: 5px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;

  span {
    font-size: 0;
    display: inline-flex;
  }
}

@media (max-width: 1200px) {
  .header-navbar__link {
    padding: 10px 17px;
  }

  .header-wrapper {
    gap: 10px
  }

  .header-navbar__link {
    font-size: 14px;
  }

  .header {
    .btn {
      padding: 9px 20px;
    }
  }
}

@media (max-width: 1025px) {
  .header-navbar__link {
    padding: 7px 10px;
  }
}

@media (max-width: 990px) {
  .header-navbar {
    display: none;
  }

  .header__buttons {
    display: none;
  }

  .header-burger {
    display: flex;
  }
}