@import 'variables';

.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.4s ease;
  border-radius: 16px;
  padding: 16px;

  &-navbar {
    display: flex;
    align-items: center;
    gap: 12px;

    &__link {
      padding: 14px 24px;
      color: $dark-color;
      transition: all 0.4s ease;
      border-radius: 8px;

      &:hover {
        background: rgba(231, 226, 255, 0.8);
      }
    }
  }

  .wrapper-header {
    transition: all 0.4s ease;
  } 

  &.header--active {
    .wrapper-header {
      backdrop-filter: blur(8px);
      box-shadow: 0 0 20px 0 rgba(132, 109, 242, 0.25);
      background: rgba(255, 255, 255, 0.98);
      border-radius: 16px;
    }
  }
  &.header--hidden {
    transform: translateY(-100%);
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
  }

  &__buttons {
    gap: 15px;
    display: flex;
  }

  &-picture {
    pointer-events: none;
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wrapper-header {
  padding: 8px 26px;
}

.header-navbar__widget {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: -143px;
  padding-top: 20px;
}

.header-navbar-box {
  position: relative;

  &:hover {
    .header-navbar__widget {
      opacity: 1;
      visibility: visible;
    }
  }
}

.header-navbar__container {
  padding: 12px;
  width: 280px;
  backdrop-filter: blur(8px);
  background: rgba(249, 249, 249, 0.95);
  border-radius: 12px;

  .header-navbar__link {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    width: 100%;
    gap: 6px;

    svg {
      transition: all 0.3s ease;
      visibility: hidden;
      animation: arrowAnimationEx 0.2s ease forwards;
    }

    &:hover {
      backdrop-filter: blur(17px);
      background: #f2f2f2;

      svg {
        animation: arrowAnimation 0.2s ease forwards;
        opacity: 1;
        visibility: visible;
      }
    }

  }
}


@keyframes arrowAnimation {
  0% {
    transform: translateX(-7px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes arrowAnimationEx {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(-7px);
    opacity: 0;
  }
}

.header-burger {
  display: none;
  border-radius: 16px;
  background-color: #846df2;
  position: relative;
  flex-direction: column;
  gap: 5px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;

  span {
    font-size: 0;
    display: inline-flex;
  }
}

.header-mobile {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 0 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  transition: all 0.4s ease;
  transform: translateX(100%);

  &.is-active {
    transform: translateX(0%);
  }
}

.header-mobile__container {
  padding-bottom: 24px;
  height: 100vh;
  padding-top: 124px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

}

.header-mobile-close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 25px;
}

.header-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.header-mobile__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #2e2e33;
}

.header-mobile__drop-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-mobile__link-low {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #2e2e33;
}

.header-mobile-collumn {
  padding-left: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, opacity 0.7s ease, padding-top 0.7s ease, padding-bottom 0.7s ease;
  padding-top: 0;
  padding-bottom: 0;

  &.is-open {
    max-height: 500px;
    opacity: 1;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.header-mobile-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    transform: rotate(180deg);
  }
}

.header-mobile__under {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

.header-mobile__under-line {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    display: inline-block;
    padding: 0 20px;

    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #707485;
  }
}

.header-mobile__under-row {
  padding: 8px 16px;
  background: #fbfbfb;
  border-radius: 8px;
  gap: 10px;
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  a {
    color: #757575;
    transition: opacity 0.3s ease, transform 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    &[href="#"] {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        transition: opacity 0.3s ease, transform 0.3s ease;
      }

      &.copied {
        img {
          opacity: 0.3;
        }

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.copy-accept {
  display: none;
}

.header-mobile__under-line {
  .copied {
    img:first-child {
      display: none;
    }

    .copy-accept {
      width: 13px !important;
      height: 13px;
      opacity: 1 !important;
      display: block;
    }
  }
}





@media (max-width: 1200px) {
  .header-navbar__link {
    padding: 10px 17px;
  }

  .header-wrapper {
    gap: 10px
  }

  .header-navbar__link {
    font-size: 14px;
  }

  .header {
    .btn {
      padding: 9px 20px;
    }
  }
}

@media (max-width: 1025px) {
  .header-navbar__link {
    padding: 7px 10px;
  }
}

@media (max-width: 990px) {
  .header-navbar {
    display: none;
  }

  .header__buttons {
    display: none;
  }

  .header-burger {
    display: flex;
  }
}