.index-tariff__container {
  max-width: 676px;
  width: 100%;
  margin: 0 auto;
}

.index-tariff__title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 15px;
}

.index-tariff__subtitle {
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.index-tariff_offset {
  padding-top: 150px;
  margin-bottom: -28px;
}

.atc {
  &-wrapper {
    display: flex;
    align-items: flex-start;
  }

  &-item {
    padding: 23px;
    background-color: #f5f5f5;
    border-radius: 16px;
  }

  &-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2e33;
    margin-bottom: 20px;
  }

  &-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &-collumn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 4px;
    padding-top: 2px;

    .atc-list {
      align-items: flex-start;
    }

    &-center {
      .atc-list {
        align-items: center;
      }
    }
  }

  &-list {
    display: flex;
    gap: 8px;
    line-height: 1.2;
    font-weight: 300;

    span {
      display: block;
    }
  }

  &-box {
    margin-bottom: 15px;
  }

  &-desciption {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
    color: #2e2e33;
  }

  &-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: #2e2e33;
  }

  &-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &-list {
      font-weight: 300;
      font-size: 16px;
      line-height: 1.2;
      padding-left: 24px;
      color: #2e2e33;
      position: relative;

      &:before {
        background-color: #846df2;
        border-radius: 50%;
        content: "";
        height: 8px;
        left: 8px;
        position: absolute;
        top: 7px;
        width: 8px;
      }
    }
  }

  &-wrapper {
    margin: -10px;
    margin-top: 38px;
  }

  &-col {
    width: 50%;
    padding: 10px;

    &:last-child {
      .atc-item {
        border: 1px solid #846df2;
      }
    }
  }
}

.atc-collumn-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0;
  margin: -8px;

  .atc-width {
    width: 50%;
    padding: 4px 0px;

    @media (max-width: 650px) {
      width: 100%;

      br {
        display: none;
      }
    }
  }
}

.article-banner {
  display: flex;
  align-items: flex-start;
  max-width: 676px;
  width: 100%;
  padding: 24px;
  position: relative;
  border-radius: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 110px;
}

.article-image {
  position: absolute;
  top: -44px;
  right: 54px;
}

.article-button {
  padding-top: 156px;
}

.article-label {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #2e2e33;
  margin-bottom: 29px;
}

.article-container {
  max-width: 400px;
  width: 100%;
}

.article-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #2e2e33;
  max-width: 371px;

  p {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.atc-offset {
  padding-bottom: 56px;
}

.count-row-offset {
  margin-top: 36px;
}

.count-tariff {
  .section-col-medium {
    max-width: 676px;
    width: 100%;
  }

  .section__description {
    max-width: 676px;
    width: 100%;
  }
}

.connection {
  .section__description {
    font-size: 24px;
  }
}

.connection__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  margin-bottom: 14px;
}

.connection-item {
  a {
    color: #846df2;
    text-decoration: underline;
  }
}

.connection__descript {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #2e2e33;
  margin-bottom: 13px;
}

.connection__col {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.connection__list {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #2e2e33;
  padding-left: 24px;
  position: relative;

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 50%;
    background-color: #757575;
  }
}

.connection-item {
  background-color: #f5f5f5;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.connection__content {
  width: calc(100% - 271px);
  padding-right: 24px;
}

.connection__art {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  width: 271px;
}

.connection__art-item {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border-radius: 80px;
  padding: 8px 16px;

  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: #2e2e33;
  border: 1px solid #c6c6c6;

  strong {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    color: #2e2e33;
  }
}

.connection-item-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  margin-bottom: -5px;
}

.connection-item-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fff;
  border: 1px solid #e8e8ef;
}

.connection-item-subtitle {
  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    color: #2e2e33;
    margin-bottom: 19px;
  }

  span {
    color: #757575;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 300;
    display: inline-block;
  }
}

.side-menu-tariff {
  .side-nav__list {
    gap: 4px;
  }

  .side-nav__link span {
    font-size: 20px;
  }
}

.doc-card-mob {
  a {
    display: block;
  }
}

.connection__content {
  max-width: 356px;
}

.connection {
  .section-middle {
    padding-right: 19px;
  }

  .section-col {
    margin-bottom: 50px;
  }
}

.connection-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tariff-sim__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: -10px;
  max-width: 696px;
}

.tariff-sim__width {
  width: 50%;
  padding: 30px 10px;
  position: relative;
}

.tarif-block-widget {
  position: relative;
}

// anim1
@keyframes tariffAnim1In {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }

  100% {
    transform: translate3d(24px, -62px, 0) rotate(101deg);
  }
}

@keyframes tariffAnim1Out {
  0% {
    transform: translate3d(24px, -62px, 0) rotate(101deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }
}

// anim2

@keyframes tariffAnim2In {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }

  100% {
    transform: translate3d(-40px, -18px, 10px) rotate(-11deg);
  }
}

@keyframes tariffAnim2Out {
  0% {
    transform: translate3d(-40px, -18px, 10px) rotate(-11deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }
}

// anim3

@keyframes tariffAnim3In {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }

  100% {
    transform: translate3d(43px, -17px, 0) rotate(-4deg);
  }
}

@keyframes tariffAnim3Out {
  0% {
    transform: translate3d(43px, -17px, 0) rotate(-4deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }
}

// anim4

@keyframes tariffAnim4In {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }

  100% {
    transform: translate3d(-47px, -54px, 10px) rotate(-65deg);
  }
}

@keyframes tariffAnim4Out {
  0% {
    transform: translate3d(-47px, -54px, 10px) rotate(-65deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }
}

// anim5

@keyframes tariffAnim5In {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }

  100% {
    transform: translate3d(84px, -67px, 0px) rotate(175deg);
  }
}

@keyframes tariffAnim5Out {
  0% {
    transform: translate3d(84px, -67px, 0px) rotate(175deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }
}

// anim6

@keyframes tariffAnim6In {
  0% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }

  100% {
    transform: translate3d(84px, -65px, 0) rotate(-181deg);
  }
}

@keyframes tariffAnim6Out {
  0% {
    transform: translate3d(84px, -65px, 0) rotate(-181deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0px) rotate(0);
  }
}

.tariff-sim-circle {
  transition: all 0.5s ease;
  opacity: 0;
}

.tariff-sim__width {
  &:hover {
    .tariff-sim-circle {
      opacity: 1;
    }

    .tariff-sim__item {
      background: rgba(244, 242, 255, 0.4);
    }
  }

  &:nth-child(1) {
    &:hover {
      .tariff-sim__image {
        animation: tariffAnim1In 0.5s ease forwards;
      }
    }

    .tariff-sim__image {
      left: -39px;
      top: -3px;
      animation: tariffAnim1Out 0.5s ease forwards;
    }
  }

  &:nth-child(2) {
    &:hover {
      .tariff-sim__image {
        animation: tariffAnim2In 0.5s ease forwards;
      }
    }

    .tariff-sim__image {
      right: 19px;
      top: -41px;
      animation: tariffAnim2Out 0.5s ease forwards;
    }
  }

  &:nth-child(3) {
    &:hover {
      .tariff-sim__image {
        animation: tariffAnim3In 0.5s ease forwards;
      }
    }

    .tariff-sim__image {
      right: 68px;
      top: -39px;
      animation: tariffAnim3Out 0.5s ease forwards;
    }
  }

  &:nth-child(4) {
    &:hover {
      .tariff-sim__image {
        animation: tariffAnim4In 0.5s ease forwards;
      }
    }

    .tariff-sim__image {
      animation: tariffAnim4Out 0.5s ease forwards;

      right: -43px;
      top: -14px;
    }
  }

  &:nth-child(5) {
    &:hover {
      .tariff-sim__image {
        animation: tariffAnim6In 0.5s ease forwards;
      }
    }

    .tariff-sim__image {
      animation: tariffAnim6Out 0.5s ease forwards;
      right: 24px;
      top: 156px;
    }
  }
}

#section-6 {
  &.section-offset {
    padding-bottom: 43px;
  }

  .section-col-medium {
    margin-bottom: 70px;
  }

  .section-col {
    .section__title {
      margin-bottom: 4px;
    }

    .section__description {
      line-height: 1.3;
    }
  }
}

.tariff-sim__image {
  display: inline-block;
  position: absolute;
}

.tariff-sim__container {
  margin: -10px;
}

.tariff-sim__item {
  overflow: hidden;
  border: 1px solid #e8e8ef;
  border-radius: 12px;
  padding: 24px;
  position: relative;
  backdrop-filter: blur(4px);
  background: rgba(245, 245, 245, 0.6);
}

.tariff-sim-circle {
  position: absolute;
  pointer-events: none;
  top: 0;
  right: 0;
}

.tariff-sim__wrap {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.tariff-sim-arc {
  border: 1px solid #c6c6c6;
  border-radius: 80px;
  padding: 8px 12px;
  line-height: 1;
  display: inline-flex;

  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  gap: 4px;
  align-items: flex-end;
  color: #2e2e33;

  span {
    display: inline-block;
    position: relative;
    bottom: -1px;
  }
}

.tariff-sim__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 18px;
}

.tariff-sim__price {
  display: inline-flex;
  gap: 8px;
  align-items: flex-end;

  strong {
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
    color: #2e2e33;
  }

  span {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #2e2e33;
  }
}

.accordion {
  .documents-under__content {
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 125%;
      color: #2e2e33;

      strong {
        display: block;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #2e2e33;
        margin-bottom: 4px;
      }
    }
  }
}

.index-tariff__image {
  img {
    max-width: 100%;
  }
}

.banner-dark {
  backdrop-filter: blur(8px);
  box-shadow: 0 0 28px 0 rgba(106, 73, 249, 0.15);
  background: #2e2e33;
  display: flex;
  width: 100%;
  align-items: flex-start;
  border-radius: 16px;
  position: relative;
  padding: 24px;
  max-width: 675px;
  margin-bottom: 60px;
}

.banner-dark-col {
  max-width: 398px;
  width: 100%;
}

.banner-dark-label {
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 8px;
}

.banner-dak-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 24px;
}

.banner-dark-image {
  position: absolute;
  right: -1px;
  top: -61px;
}

.count-tariff {
  .section__description {
    font-size: 24px;
  }
}

.count-new-price {
  font-size: 33px;
}

.count-text {
  position: relative;
  bottom: -4px;
}

.count__list {
  gap: 14px;
  line-height: 1.2;
}

.count__col {
  gap: 15px;
}

.connection_offset {
  padding-top: 0;
}

.connection {
  .section-right {
    margin-top: 473px;
  }
}

.section-right-item-col {
  flex-direction: column;
  display: flex;
}

.tariff-sim .section-right {
  margin-top: 231px;
}

.tariff-sim__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2e33;
}

.atc-container-dropdown-link {
  display: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  color: #846df2;
  text-align: right;
}

.tariff-sim-gray {
  display: none;
}

.connection__art-mob {
  display: none;
}

.side-nav__list-reset-arrow {
  &.side-nav__list .side-nav__item:nth-child(3) svg {
    left: auto;
    position: relative;
    top: auto;
  }
}

@media (max-width: 1335px) {
  .banner-dark-col {
    max-width: 368px;
  }
}

@media (max-width: 1210px) {
  .banner-dark-col {
    max-width: 278px;
  }
}

@media (max-width: 1150px) {
  .banner-dark-col {
    max-width: 398px;
  }
}

@media (max-width: 1110px) {
  .banner-dark-col {
    max-width: 338px;
  }
}

@media (max-width: 1015px) {
  .banner-dark-col {
    max-width: 278px;
  }
}

@media (max-width: 990px) {
  .tariff-sim__width:first-child .tariff-sim__image {
    bottom: 3px;
    left: auto;
    right: 27px;
    top: auto;
    transform: rotate(117deg) scale(1.2) !important;
    z-index: 2;
  }

  .tariff-sim__width:nth-child(2) .tariff-sim__image {
    bottom: 12px;
    left: auto;
    right: 23px;
    top: auto;
    transform: rotate(-14deg) scale(1.2) !important;
    z-index: 2;
  }

  .tariff-sim__width:nth-child(3) .tariff-sim__image {
    bottom: 22px;
    left: auto;
    right: 25px;
    top: auto;
    transform: rotate(-7deg) scale(1.2) !important;
    z-index: 2;
  }

  .tariff-sim__width:nth-child(4) .tariff-sim__image {
    bottom: 21px;
    left: auto;
    right: 23px;
    top: auto;
    transform: rotate(2deg) !important;
    z-index: 2;
  }

  .tariff-sim__width:nth-child(5) .tariff-sim__image {
    bottom: 20px;
    left: auto;
    right: 23px;
    top: auto;
    transform: rotate(-362deg) !important;
    z-index: 2;
  }

  .tariff-sim__width {
    &:hover {
      .tariff-sim-circle {
        opacity: 0;
      }

      .tariff-sim__item {
        background: rgba(245, 245, 245, 0.6);
      }
    }
  }

  .banner-dark-col {
    max-width: 398px;
  }

  .atc-offset {
    padding-bottom: 40px;
  }

  .tariff-sim__container {
    max-width: 100%;
  }

  .tariff-sim .section-middle {
    padding-right: 0;
  }

  .connection .section-middle {
    padding-right: 0;
  }

  .atc-container-dropdown-link {
    display: block;
  }

  .atc-item {
    padding: 16px;
  }

  .atc-list span {
    word-break: break-word;
  }

  .index-tariff__title {
    font-size: 36px;
  }

  .wrapper-header {
    padding: 8px 10px;
  }

  .index-tariff_offset {
    padding-top: 111px;
  }

  .atc-wrapper {
    flex-wrap: wrap;
  }

  .atc-col {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .article-banner {
    display: none;
  }

  .connection-width {
    &:last-child {
      .connection__art {
        display: none;
      }

      .connection__art-mob {
        display: block;
        margin-bottom: 16px;
        width: 100%;
        max-width: 100%;

        .connection__art-item {
          width: 100%;
          text-align: center;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .connection-item {
    flex-direction: column;
  }

  .connection__art {
    width: 100%;
    margin-top: 24px;
  }

  .connection__content {
    max-width: 100%;
  }

  .connection-item-wrap {
    flex-direction: column;
  }

  .connection__content {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 660px) {
  .banner-dark {
    padding-top: 88px;
  }

  .banner-dark-image {
    position: absolute;
    right: 39px;
    top: -67px;
  }
}

@media (max-width: 650px) {
  .index-tariff__image img {
    position: relative;
    left: -0;
  }

  #section-6 {
    .section-col-medium {
      margin-bottom: 30px;
    }
  }

  .connection__content div:last-child {
    margin-bottom: 0;
  }

  .atc-offset {
    margin-top: 40px;
  }

  .banner-dark-col {
    max-width: 100%;
  }

  .atc-collumn.atc-collumn-center.atc-collumn-wrap {
    padding-left: 4px;
  }

  .tariff-sim__width {
    width: 100%;
  }

  .atc-collumn {
    padding-left: 0;
  }

  .atc-collumn-wrap .atc-width {
    padding: 4px 0;
  }

  .tariff-sim__width {
    padding: 0;
    padding-bottom: 20px;

    &:last-child {
      .section-right-item {
        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .tariff-sim__container {
    margin: 0;
    margin-bottom: -10px;
  }

  .banner-dark {
    margin-bottom: 30px;
  }

  .tariff-sim-gray {
    display: block;

    .section-right-item {
      border-radius: 16px;
      padding: 20px;
      background-color: #fafafa;
    }
  }

  .tariff-sim__width {
    padding: 0 0 10px;
  }
}

@media (max-width: 450px) {
  .tariff-sim-gray {
    margin-top: 23px;
    background-color: #fafafa;
    border-radius: 16px;

    .section-right-item:first-child {
      margin-bottom: -30px;
    }

    .section-right-item:last-child {
      margin: 0 auto;
      padding-left: 41px;

      p {
        max-width: 283px;
      }
    }

    .section-right-item__col {
      max-width: 212px;
      line-height: 1.2;

      br {
        display: none;
      }

      ul {
        margin-top: 12px;
      }
    }
  }
}