@import 'variables';

.btn {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 11px 29px;
  font-size: 16px;
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: center;
  align-items: center;
  justify-content: center;

  &_white {
    color: #846df2;
    background-color: #fff;
    border: 1px solid #846df2;
  }
  &_primary {
    color: #fff;
    background-color: $primary-color;
  }

  &_transparent {
    color: #2E2E33;
    background-color: rgba(255, 255, 255, 0);
  }

  &--left {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 28px;
    line-height: 1;
    gap: 6px;
    span {
      font-size: 14px;
    }
  }

}

.color-gray {
  color: $gray-color
}

a {
  text-decoration: none;
}

.wrapper__default {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}