@import 'variables';

.btn {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 11px 29px;
  font-size: 16px;
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &_white {
    color: #846df2;
    background-color: #fff;
    border: 1px solid #846df2;

    &:hover {
      background-color: #846df2;
      color: #fff;
    }
  }

  &_primary {
    color: #fff;
    background-color: $primary-color;
  }

  &_transparent {
    color: #2E2E33;
    background-color: rgba(255, 255, 255, 0);
    position: relative;

    svg {
      position: absolute;
      right: 9px;
      bottom: 17px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;
    }

    &:hover {
      svg {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &--left {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 28px;
    line-height: 1;
    gap: 6px;

    span {
      font-size: 14px;
    }
  }

  transition: all 0.2s ease;

  &:hover {
    &.btn_primary {
      background-color: lighten($primary-color, 5);
    }
  }
}

.count-active {
  .btn_white {
    &:hover {
      color: #fff;
      background-color: lighten($primary-color,10);
    }
  }
}

.color-gray {
  color: $gray-color
}

a {
  text-decoration: none;
}

.wrapper__default {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.tab {
  display: none;

  &.active {
    display: block;
  }
}

.trigger-rate-1 {
  display: none;

  &.active {
    display: flex;
  }
}

.count-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.count-col {
  max-width: 678px;
  width: 100%;
}

.count-box-right {
  .section-right-item {
    display: flex;
  }
}

#section4 {
  .section-right {
    padding-top: 242px;
  }
}