@import 'variables';

.btn {
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 11px 29px;
  font-size: 16px;
  display: inline-flex;
  border: 1px solid rgba(255, 255, 255, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &_white {
    color: #846df2;
    background-color: #fff;
    border: 1px solid #846df2;

    .btn-arrow svg {
      right: -18px !important;
      position: absolute;
      animation: arrowAnimationEx 0.2s ease forwards;
    }

    span {
      transition: all 0.2s ease
    }

    &:hover {
      background-color: #846df2;
      color: #fff;

      span {
        transform: translateX(-5px);
      }

      svg {
        animation: arrowAnimation 0.2s ease forwards;
        visibility: visible;
      }

    }
  }

  &_primary {
    color: #fff;
    background-color: $primary-color;
    position: relative;

    svg {
      position: absolute;
      right: 15px;
      bottom: 17px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;
      animation: arrowAnimationEx 0.2s ease forwards;
    }

    span {
      transition: all 0.2s ease;
    }

    &:hover {
      span {
        transform: translateX(-5px);
      }

      svg {
        animation: arrowAnimation 0.2s ease forwards;
        visibility: visible;
      }
    }
  }

  &_transparent {
    color: #2E2E33;
    background-color: rgba(255, 255, 255, 0);
    position: relative;

    span {
      transition: all 0.2s ease;
    }

    svg {
      position: absolute;
      right: -20px;
      bottom: 17px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;
      animation: arrowAnimationEx 0.2s ease forwards;
    }

    .btn-arrow svg {
      right: -18px !important;
    }

    &:hover {
      span {
        transform: translateX(-5px);
      }

      svg {
        animation: arrowAnimation 0.2s ease forwards;
        visibility: visible;
      }
    }
  }

  @keyframes arrowAnimation {
    0% {
      transform: translateX(-15px);
      opacity: 0;
    }

    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes arrowAnimationEx {
    0% {
      transform: translateX(0px);
      opacity: 1;
    }

    100% {
      transform: translateX(-15px);
      opacity: 0;
    }
  }

  &--left {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 28px;
    line-height: 1;
    gap: 6px;

    span {
      font-size: 14px;
    }

    &:hover {
      span {
        transform: translateX(0);
      }
    }
  }

  transition: all 0.2s ease;

  &:hover {
    &.btn_primary {
      background-color: lighten($primary-color, 5);
    }
  }
}

.btn-arrow {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    top: 9px;
    right: -15px;
  }
}

.count-active {
  .btn_white {
    &:hover {
      color: #fff;
      background-color: lighten($primary-color, 10);
    }
  }
}

.color-gray {
  color: $gray-color
}

a {
  text-decoration: none;
}

.wrapper__default {
  max-width: 1290px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.tab {
  display: none;

  &.active {
    display: block;
  }
}

.trigger-rate-1 {
  display: none;

  &.active {
    display: flex;
  }
}

.count-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.count-col {
  max-width: 678px;
  width: 100%;
}

.count-box-right {
  .section-right-item {
    display: flex;
  }
}

#section4 {
  .section-right {
    padding-top: 242px;
  }
}

.wrapper-contacts {
  margin: 0 auto;
  max-width: 1455px;
  width: 100%;
  padding: 0 15px;
}

.contacts-middle {
  width: calc(100% - 271px);
  padding-left: 270px;
}

.contacts-content {
  max-width: 677px;
  width: 100%;
  margin: 0 auto;
}

.wrapper-contacts {
  display: flex;
  align-items: flex-start;
}

.contacts_offset {
  padding-bottom: 150px;
  padding-top: 134px;
}

.cont-under-img {
  bottom: 0;
  left: 1px;
  position: absolute;
  top: 40px;
}

.contacts-label {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: #2e2e33;
  margin-bottom: 66px;
  max-width: 589px;
  width: 100%;
}

.contacts__under {
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.contacts__under {
  margin-top: 27px;
}

.contacts-box {
  max-width: 378px;
  width: 100%;
  border-radius: 16px;
  padding: 40px;
  background: linear-gradient(58deg, #846df2 0%, #a390ff 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40px;
  align-items: flex-end;

  img {
    width: 150px;
  }
}

.contacts {
  .section-right {
    margin-top: 300px;
  }
}

.footer__wrapper {
  max-width: 1372px;
  margin: 0 auto;
  width: 100%;
}

.footer_offset {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

.footer_bg {
  background: #f9f9f9;
  border-radius: 16px;
  padding: 40px;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  padding-bottom: 67px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}

.footer-lb {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  color: #757575;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #2e2e33;
  transition: all 0.4s ease;

  &:hover {
    color: #757575
  }
}

.footer__main {
  max-width: 328px;
  width: 100%;
  padding-top: 17px;

}

.footer__main-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-col-list {
  display: flex;
  align-items: flex-start;
  gap: 106px;
}

.footer-right-side {
  display: flex;
  align-items: flex-start;
  width: calc(100% - 328px);
  justify-content: flex-end;
}

.footer__contacts {
  padding-left: 162px;
  .footer-lb {
    margin-bottom: 13px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding-right: 89px;
}

.footer-br {
  height: 1px;
  background-color: #e8e8ef;
  margin-bottom: 28px;
}

.footer-under {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-description {
  font-weight: 300;
  max-width: 368px;
  width: 100%;
  font-size: 16px;
  line-height: 125%;
  color: #757575;

  a {
    color: #846df2;
  }
}

.section-right-item {
  a {
    color: #707485;
  }
}

.footer-right {
  .btn_primary {
    max-width: 288px;
    width: 100%;
  }
}

.footer__art {
  color: #757575
}

.footer-label__list {
  max-width: 183px;
  width: 100%;
}

.footer-label__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease;

  &:hover {
    color: #757575
  }
}

.footer__logo {
  display: block;
  margin-bottom: 32px;
  position: relative;
  left: 6px;
}

.footer-label__label {
  color: #2E2E33
}

.contacts-mobile {
  display: none;
}

.footer-box-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1350px) {
  .contacts-middle {
    padding-left: 0;
  }

  .footer-top {
    padding-right: 50px;
  }
}

@media (max-width: 1280px) {
  .footer__main {
    max-width: 200px;
  }

  .footer__contacts {
    padding-left: 40px;
  }

  .footer-right-side {
    width: calc(100% - 200px);
    padding-left: 30px;
  }
}

.contacts-title {
  p {
    display: none;
  }
}

@media (max-width: 1190px) {
  .footer-col-list {
    gap: 30px;
  }
}

@media (max-width: 1050px) {
  .footer-top {
    padding-right: 0;
  }
}

@media (max-width: 990px) {
  .contacts-middle {
    width: 100%;
  }

  .footer__logo {
    margin-bottom: 12px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-right-side {
    margin-top: 40px;
    width: 100%;
    padding: 0;
    justify-content: space-between;
  }

  .footer_offset {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer_bg {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-under {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer__art {
    margin-top: 32px;
  }

  .footer-br {
    display: none;
  }

  .contacts_offset {
    padding-bottom: 80px;
    padding-top: 100px;
  }
}

@media (max-width: 670px) {
  .footer-right-side {
    flex-direction: column;
  }

  .footer__contacts {
    padding-left: 0;
    margin-top: 32px;

    .footer-box {
      flex-direction: row;
      gap: 24px;
      display: flex;
      align-items: center;
    }
  }

  .contacts-label {
    margin-bottom: 24px;
  }

  .contacts-title {
    img {
      display: none;
    }

    p {
      color: #707485;
      display: block;
    }
  }

  .footer-col-list {
    width: 100%;
    display: flex;
    gap: 16px;
  }

  .footer-box-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .footer-right {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;

    .btn_primary {
      max-width: 100%;
    }
  }

  .contacts-mobile {
    display: flex;
    justify-content: center;

    .header-mobile__under-row {
      background: #f2f2f2;
    }
  }

  .cont-under-img {
    position: relative;
    left: auto;
    max-width: 192px;
    margin-bottom: 30px;
    top: auto;
  }

  .contacts__under {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-box {
    background: rgba(255, 255, 255, 0);
    max-width: 100%;
    gap: 24px;
    padding: 0;
    justify-content: center;
    align-items: center;

    .cont-qr {
      display: none;
    }

    .header-mobile__under-row {
      img {
        width: 18px;
      }
    }

    .header-mobile__under-line span {
      padding-left: 0;
    }
  }

  .contacts-button {
    width: 100%;

    .btn_white {
      width: 100%;
      max-width: 100%;
    }
  }
}

.footer-label-content {
  display: none;
}

.footer-label__label.active {
  img {
    transform: rotate(180deg);
  }
}